html,
body{
    height: 100%;
    font-family: 'Microsoft YaHei';
    color:#333;
    background-color: #fff;
}
*{
    box-sizing: border-box;
    touch-action: pan-y;
    margin:0;
}
.adm-tab-bar-item{
    color:#888;
}
.adm-tab-bar-item-active{
    color:#21b97a;
}



html,
body,
#root,
.APP{
    height: 100%;
}
body{
    margin:0px;
    padding:0px;
}

h1,
h2,
h3,
p,
ul{
    margin:0;
}

ul{
    list-style:none;
}